<style>
    .wrap{
        text-align: center;
    }
    h1{
        font-size: 2.5rem;
        font-weight: 800;
        padding: 0 0 10px 0;
        margin: 0;
        font-family: "Univers 65 Bold","Arial","Helvetica",sans-serif;
        text-transform: uppercase;
        color: #9e0b0f;
    }
    h2{
        font-size: 1.75rem;
        font-weight: 800;
        padding: 30px 0 0px 0;
        margin: 0;
        font-family: "Univers 65 Bold","Arial","Helvetica",sans-serif;
        text-transform: uppercase;
        color: #9e0b0f;
    }
    .information{
        text-align: center;
    }
    .information p strong{
        font-size: 1.35rem;
        font-weight: 800;
        padding: 0 0 0px 0;
        margin:  20px 0 0 0;
        display: inline-block;
        font-family: "Univers 65 Bold","Arial","Helvetica",sans-serif;
        text-transform: uppercase;
        color: #005826;
    }
    .information ul{
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0;
        margin: 0 0 20px 0;
        font-family: "Univers 65 Bold","Arial","Helvetica",sans-serif;
        text-transform: none;
        color: #333;
        list-style: none;
    }
    .information ul li{
        padding-bottom: 10px;
    }
    .ao-form{
        text-align: center;
        padding: 30px 0;
        margin: 10px 0 0 0;
        display: inline-block;
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 10px;
    }
    .ao-form label{
        width: 100%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 800;
        padding: 0 0 10px 0;
        font-family: "Univers 65 Bold","Arial","Helvetica",sans-serif;
        color: #333;
        text-align: left;
    }
    .ao-form input{
        width: 100%;
        max-width: 500px;
        height: 40px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #8b8b8b;
    }
    .ao-form .ao-block-wrapper{
        margin: 0px 0;
        padding: 20px 0 !important;
        display: inline-block;
        width: 100%;
    }
    .ao-form .ao-combo-layout{
        text-align: left;
        max-width: 450px;
        display: block;
        margin: 0 auto;
    }
    .ao-form .ao-combo-block .ao-form-label[for="b1541517713431"]{
        padding-bottom: 5px;
        border-bottom: 1px solid #848484;
        margin-bottom: 20px;
    }
    .ao-form input[type="text"]{
        width: 100% !important;
        max-width: 500px;
        margin: 0 auto;
        height: 40px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        border-radius: 5px !important;
        border: 1px solid #8b8b8b;
    }
    .ao-form input[type="radio"]{
         width: auto;
         height: auto;
     }
    #block-b1541517769377{
        position: relative;
        top: -40px;
        margin-bottom: -40px;
    }
    .ao-form button{
        background-color: #9e0b0f !important;
        width: 100%;
        max-width: 500px;
    }
</style>
<div class="wrap">
<h2>RVSP for the</h2>
<h1>2018 Staff Holiday Party!</h1>
<hr />
    <div class="information">
        <p><strong>FRIDAY, DECEMBER 14, 2018</strong></p>
        <ul>
            <li>Reception | 6:45PM</li>
            <li>Dinner | 7:30PM - 11:00PM</li>
        </ul>
        <p><strong>THE COUNTRY CLUB AT MIRASOL</strong></p>
        <ul>
            <li>11600 Mirasol Way</li>
            <li>Palm Beach Gardens, FL 33418</li>
        </ul>
    </div>
</div>
<form class="ao-form " id="ao-form-77eb2416-fc68-4e6d-9e53-b9f865038769" style="font-size: medium; background-image: none; background-repeat: no-repeat; background-size: auto; background-position: center center;" method="POST" action="//info.thepgaofamerica.com/acton/forms/userSubmit.jsp" data-validate-blur="">



    <div class="ao-row" style="padding: 0px;" id="row-">
        <div class="ao-column ao-column-12 tablet-ao-column-1 mobile-ao-column-1" style="padding: 0px;" id="column-">
            <div class="ao-column-inner" style="background-color: transparent; padding: 0px; border-radius: 0px; border-color: inherit; border-style: inherit; border-width: 0px;">
                <div style="padding-bottom: 0px;" class="ao-block-wrapper">
                    <div id="block-b1541517691006" class="ao-input-block ao-left">
                        <label for="b1541517691006" class="ao-form-label">
                            Email:
                            <span class="ao-required">*</span>
                        </label>
                        <input id="b1541517691006" name="email" type="text" placeholder=" " value="" data-type="text" tabindex="1" class="ao-form-field ao-left" data-error-message="required|Required field" data-validator="required">
                        <span class="ao-form-error-message">&nbsp;</span>
                    </div>
                </div>
                <div style="padding-bottom: 0px;" class="ao-block-wrapper">
                    <div id="block-b1541517713431" class="ao-combo-block  ao-left">
                        <label for="b1541517713431" class="ao-form-label">
                            I will attend:
                        </label>
                        <div id="b1541517713431" class="ao-combo-layout vertical1  ao-left" data-validator="" data-error-message="">
                            <label class="ao-combo-label">
                                <input type="radio" name="attend" value="yes" tabindex="2" checked="checked">
                                <span>Yes</span>
                            </label>
                            <label class="ao-combo-label">
                                <input type="radio" name="attend" value="yes w guest" tabindex="2">
                                <span>Yes with Guest</span>
                            </label>
                            <label class="ao-combo-label">
                                <input type="radio" name="attend" value="no" tabindex="2">
                                <span>No</span>
                            </label>
                        </div>
                        <span class="ao-form-error-message" clear="both">&nbsp;</span>
                    </div>
                </div>
                <div style="padding-bottom: 0px;" class="ao-block-wrapper">
                    <div id="block-b1541517769377" class="ao-combo-block  ao-left">
                        <label for="b1541517769377" class="ao-form-label">

                        </label>
                        <div id="b1541517769377" class="ao-combo-layout vertical1  ao-left" data-validator="" data-error-message="">
                            <label class="ao-combo-label">
                                <input type="radio" name="dinner" value="cocktails" tabindex="3" checked="checked">
                                <span>Cocktails Only</span>
                            </label>
                            <label class="ao-combo-label">
                                <input type="radio" name="dinner" value="cocktails dinner" tabindex="3">
                                <span>Cocktails &amp; Dinner</span>
                            </label>
                            <label class="ao-combo-label">
                                <input type="radio" name="dinner" value="dinner" tabindex="3">
                                <span>Dinner Only</span>
                            </label>
                        </div>
                        <span class="ao-form-error-message" clear="both">&nbsp;</span>
                    </div>
                </div>
                <div style="padding-bottom: 0px;" class="ao-block-wrapper">
                    <div id="block-b1541517821081" class="ao-input-block ao-left">
                        <label for="b1541517821081" class="ao-form-label">
                            If you are bringing a guest, please provide their name:
                        </label>
                        <input id="b1541517821081" name="guest" type="text" placeholder=" " value="" data-type="text" tabindex="4" class="ao-form-field ao-left" data-error-message="" data-validator="">
                        <span class="ao-form-error-message">&nbsp;</span>
                    </div>
                </div>
                <div style="" class="ao-block-wrapper">
                    <div id="block-b1541517845923" class="ao-submit-block">
                        <div style="text-align: center">
                            <button type="submit" class="ao-form-submit" style="background-color: rgb(51, 102, 153); background-image: none; background-repeat: no-repeat; background-size: auto; background-position: center center; color: rgb(255, 255, 255); border-radius: 6px; display: inline-block; text-decoration: none; font-size: 12pt; font-weight: normal; font-style: normal; border-style: solid; border-color: transparent; border-width: 0px; padding: 10px;" tabindex="5" onmouseover="this.style.backgroundColor = '#224466'; this.style.color = '#ffffff'; this.style.borderColor = 'transparent';" onmouseout="this.style.backgroundColor = '#336699'; this.style.color = '#ffffff'; this.style.borderColor = 'transparent';">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="ao_form_neg_cap" value="">
    <input type="hidden" name="ao_bot" id="ao_bot" value="nope">
    <input type="hidden" name="ao_a" value="25751">
    <input type="hidden" name="ao_f" value="77eb2416-fc68-4e6d-9e53-b9f865038769">
    <input type="hidden" name="ao_d" value="77eb2416-fc68-4e6d-9e53-b9f865038769:d-0007">
    <input type="hidden" name="ao_jstzo" value="">
    <input type="hidden" name="ao_refurl" value="http://ci73.actonsoftware.com/acton/ng-ui/editor/">
    <input type="hidden" name="ao_cuid" value="">
    <input type="hidden" name="ao_srcid" value="">
    <input type="hidden" name="ao_nc" value="">
    <input type="hidden" name="ao_pf" value="0">
    <input type="hidden" name="ao_camp" value="">
    <input type="hidden" name="ao_campid" value="">
    <input type="hidden" name="ao_refemail" value="">
    <input type="hidden" name="ao_iframe" value="">
    <input type="hidden" name="ao_gatedpage" value="">
    <input type="hidden" name="ao_gatedasset" value="">
</form>