.global-header {
  position: fixed;
  top: 0;
  left: 0;
  background: #00537F;
  z-index: 150;
  width: 100%;
  font-size: 0;
  text-align: left;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.35);
  min-height: 50px;
  .global-header__wrap {
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding-left: 13px;
    margin: 0 auto;
    @media only screen and (min-width: 48em) {
      padding-left: 20px;
    }
    .global-header__logo {
      position: relative;
      display: inline-block;
      width: 75px;
      height: 75px;
      background: #fff;
      padding: 3px 6px;
      margin-right: 20px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      img{
        width: 100%;
      }
    }
    .global-header__info {
      width: 64%;
      font-size: 13px;
      display: inline-block;
      color: white;
      padding-top: 15px;
      padding-bottom: 0;
      vertical-align: top;
      .global-header__info {
        width: 64%;
        font-size: 13px;
        @media only screen and (min-width: 48em){
          width: 31%;
          font-size: 15px;
        }
        @media only screen and (min-width: 64em){
          display: inline-block;
        }
        .global-header__event__name {
          display: block;
          font-size: 13px;
          padding-bottom: 5px;
        }
      }
    }
    .global-header__menu{
      line-height: 1;
      text-transform: uppercase;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .global-header__menu__list{
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 5px 0 0 0;
      li{
        display: inline-block;
        padding-left: 20px;
        &:nth-of-type(1){
          padding-left: 0;
          margin-left: -10px;
        }
        a{
          position: relative;
          display: block;
          padding: 10px;
          color: white;
          opacity: .7;
          font-size: 12pt;
          text-decoration: none;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
  .global-header__clock {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 370px;
    iframe{
      width: 320px;
      height: 80px;
    }
  }
}
body{
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  margin: 0;
  &.video_play{
    .bg_video_hero{
      .bg_video{
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity .4s, transform .01s .4s;
      }
      iframe{
        opacity: 1;
        transition: opacity .4s .4s;
      }
      .play_section{
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity .4s, transform .01s .4s;
      }
    }
  }
  .bg_video_hero{
    position: relative;
    left: 0;
    right: 0;
    margin-top: 60px;
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background: #000;
    .bg_video{
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: #10192b;
      &:before{
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: url(../images/dots.png) repeat;
      }
      video{
        opacity: .25;
        width: 100%;
        height: auto;
      }
    }
    iframe{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0;
    }
    .play_section{
      display: inline-block;
      width: 100%;
      text-align: center;
      bottom: 50px;
      position: relative;
      z-index: 11;
      .play_btn{
        border: none;
        background: none;
        text-transform: uppercase;
        color: white;
        font-size: 1.75rem;
        font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
        display: inline-block;
        position: relative;
        cursor: pointer;
        &:before{
          content: '';
          width: 200px;
          height: 2px;
          background: white;
          position: absolute;
          left: -200%;
          top: 47%;
        }
        &:after{
          content: '';
          width: 200px;
          height: 2px;
          background: white;
          position: absolute;
          right: -200%;
          top: 47%;
        }
        &:hover{
          svg{
            g{
              rect{
                fill: white;
              }
              text{
                fill: #333;
              }
            }
          }
        }
      }
      .tag{
        color: white;
        font-weight: bold;
        font-size: .85rem;
        letter-spacing: 2px;
        margin: 20px;
        z-index: 1;
        position: relative;
      }
    }
  }
  .call_to_action_section{
    width: 90%;
    max-width: 950px;
    text-align: left;
    display: block;
    margin: 100px auto 50px;
    h2{
      color: #00537F;
      font-size: 1.65rem;
      margin-bottom: 10px;
    }
    h1{
      color: #00537F;
      margin-top: 0;
      font-size: 2.5rem;
      padding-bottom: 30px;
      border-bottom: 1px solid #af9662;
    }
    .top_title{
      color: #00537F;
      font-size: 1.25rem;
      margin-bottom: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .bottom_title{
      color: #00537F;
      margin-top: 0;
      font-size: 2.35rem;
      padding-bottom: 30px;
      border-bottom: 1px solid #af9662;
      font-weight: 700;
      text-transform: uppercase;
    }
    p{
      font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
      margin: 40px auto 20px;
      font-size: 14pt;
      line-height: 36px;
      padding: 0 50px;
      color: rgba(0, 0, 0, 0.65);
    }
    .btn{
      a{
        display: inline-block;
        width: 200px;
        font-size: 1.2rem !important;
        font-weight: 700;
        color:  #af9662;
        text-align: center;
        margin: 20px auto 0;
        padding: 25px !important;
        overflow: hidden;
        position: relative;
        transition: .3s;
        text-decoration: none;
        z-index: 0;
        background: transparent !important;
        &:hover {
          color: #fff !important;
          transition: color .3s .1s cubic-bezier(.23, 1, .32, 1);
          &:after {
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
          }
        }
        &:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          background: #af9662;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 100% 50%;
          -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
          transition: -webkit-transform .5s cubic-bezier(.23, 1, .32, 1);
          transition: transform .5s cubic-bezier(.23, 1, .32, 1);
          transition: transform .5s cubic-bezier(.23, 1, .32, 1), -webkit-transform .5s cubic-bezier(.23, 1, .32, 1);
        }
      }
    }
  }
  a{
    color: #af9662;
  }
  .ao-slideshow-block, #block-b1541331916842{
    max-width: 1050px;
    display: block;
    margin: 0 auto;
  }
  .region-cell{
    display: block;
    .body-cell{
      max-width: 1050px;
      margin-left: auto;
      margin-right: auto;
      padding: 45px 30px;
      .collection-group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        figure{
          width: 48%;
          justify-content: space-between;
          background: #fff;
          display: inline-flex;
          margin: 0 0 30px 0;
          a{
            display: block;
            width: 100%;
            margin: 0 auto;
            border: 1px solid rgba(0, 0, 0, 0.08);
            border-radius: 6px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
            color: #333;
            overflow: hidden;
            font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
            text-decoration: none;
            img{
              width: 105%;
              max-width: inherit !important;
              position: relative;
              left: -2.5%;
            }
            h2{
              padding: 20px 0;
              font-size: 2.2rem;
              color: #807877;
              width: 90%;
              display: block;
              margin: 0 auto;
              text-align: center;
              font-weight: 400;
            }
            hr{
              border: 1px solid #f2f2f2;
              width: 100%;
              margin: 0 auto;
            }
            .text-style-body{
              font-size: 1rem;
              font-weight: 800;
              padding: 20px 0;
              color: #676767;
              display: inline-flex;
              width: 49%;
              text-align: center;
              align-items: center;
              flex-direction: column;
              &:nth-of-type(1){
                border-right: 1px solid #f2f2f2;
              }
              span{
                font-size: .75rem;
                font-weight: 700;
                color: #a5a5a5;
                padding-bottom: 5px;
              }
            }
            .color_title{
              padding: 15px 25px;
              color: white;
              font-weight: bold;
              background-color: #00537F;
              border-radius: 0 0 6px 6px;
              margin-top: 5px;
              font-size: .85rem;
              top: 0px;
              position: relative;
              letter-spacing: .5px;
              text-align: right;
            }
          }
        }
      }
    }
  }
  .news-component__main-heading  {
    font-weight:bold;
    padding-right: 0;
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    font-family: "Univers 65 Bold","Arial","Helvetica",sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    color: #243354;
    margin: 100px auto 20px auto;
  }
  #block-b1541332490972{
    p{
      max-width: 625px;
      text-align: center;
    }
  }
  .ao-video-block{
    background: transparent;
    max-width: 750px;
    display: block;
    margin: 0 auto;
    .ao-video{
      padding-bottom: 53%;
      iframe{
        width: 100% !important;
        margin: 0 auto;
        display: block;
        right: 0;
      }
    }
  }
  #block-b1541332490972{
    .text_bg{
      width: 100%;
      max-width: 1050px;
      margin: 0 auto;
      display: block;
      padding: 15px 25%;
      border-bottom: 1px solid #f2f2f2;
      padding: 80px 0;
      position: relative;
      top: 0;
      p{
        max-width: 850px;
        text-align: center;
        margin: 0 auto;
        font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
        font-size: 11pt;
        line-height: 32px;
        strong{
          padding-top: 25px;
          display: block;
        }
      }
    }
  }
  .champ_info, .information{
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 75px 0;
    .columns{
      width: 46%;
      display: inline-flex;
      flex-direction: column;
      img{
        margin-top: 25px;
      }
      p{
        text-align: left;
        strong{
          color: #243354;
          font-size: 2rem;
          text-transform: uppercase;
          margin-bottom: 34px;
          display: block;
          span{
            margin-top: 5px;
            font-size: 1.35rem;
            display: block;
          }
        }
      }
      ul {
        font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
        text-align: left;
        padding-left: 0;
        list-style: none;
        li{
          padding: 15px 0 15px 0;
          border-bottom: 1px solid #f2f2f2;
          &:last-of-type{
            border-bottom: none;
          }
        }
      }
      a.reserve_btn{
        display: block !important;
        flex-direction: row;
        align-self: flex-end;
        margin: 20px auto;
        max-width: 200px;
      }
    }
    .column{
      width: 100%;
      max-width: 850px;
      display: block;
      flex-direction: column;
      margin: 0 auto;
      p {
        font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
        margin: 0 auto 20px;
        font-size: 11pt;
        line-height: 32px;
        max-width: 950px;
        strong{
          color: #243354;
          font-size: 2rem;
          text-transform: uppercase;
          margin-bottom: 34px;
          display: block;
          div{
            margin-bottom: 5px;
            font-size: 1.35rem;
            display: block;
          }
        }
      }
      h2 {
        font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
        margin: 0 auto;
        color: #243354;
        font-size: 2rem;
        text-transform: uppercase;
        display: block;
        text-align: center;
      }
      h3{
        font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
        margin: 0 auto 30px;
        color: #243354;
        text-transform: uppercase;
        display: block;
        font-size: 1.35rem;
        text-align: center;
      }
      ul {
        font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
        text-align: left;
        padding-left: 0;
        list-style: none;
        li{
          padding: 15px 0 15px 0;
          border-bottom: 1px solid #f2f2f2;
          &:last-of-type{
            border-bottom: none;
          }
        }
      }
    }
  }
}
.hos_info{
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  margin: 0 auto 20px;
  font-size: 11pt;
  line-height: 32px;
  max-width: 700px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 40px;
  .text-style-body{
    font-size: 1rem;
    font-weight: 800;
    padding: 20px 0;
    color: #676767;
    display: inline-flex;
    width: 49%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    &:nth-of-type(1){
      border-right: 1px solid #f2f2f2;
    }
    strong{
      font-size: .75rem;
      font-weight: 700;
      color: #a5a5a5;
      padding-bottom: 5px;
    }
  }
}
.desc{
  max-width: 650px;
  text-align: left !important;
  margin: 0 auto !important;
}
#block-b1541388630322{
  max-width: 1050px;
  margin: 0 auto;
}

/* media */
@media (max-width: 825px) {
  #block-b1541332490972 {
    width: 90%;
    margin: 0 auto;
  }
  body .region-cell .body-cell .collection-group figure{
    width: 80%;
    margin: 0 auto;
  }
  body .champ_info .columns, body .information .columns{
    width: 90%;
    margin: 0 auto;
  }
  body .champ_info .column, body .information .column{
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  body .region-cell .body-cell .collection-group figure{
    width: 100%;
  }
}