.global-header {
    position: fixed;
    top: 0;
    left: 0;
    background: #243354;
    z-index: 150;
    width: 100%;
    font-size: 0;
    text-align: left;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
    min-height: 50px;
}
.global-header .global-header__wrap {
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding-left: 13px;
    margin: 0 auto;
}
@media only screen and (min-width: 48em) {
    .global-header .global-header__wrap {
        padding-left: 20px;
    }
}
.global-header .global-header__wrap .global-header__logo {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    background: #fff;
    padding: 3px 6px;
    margin-right: 20px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.global-header .global-header__wrap .global-header__logo img {
    width: 100%;
}
.global-header .global-header__wrap .global-header__info {
    width: 64%;
    font-size: 13px;
    display: inline-block;
    color: white;
    padding-top: 15px;
    padding-bottom: 0;
    vertical-align: top;
}
.global-header .global-header__wrap .global-header__info .global-header__info {
    width: 64%;
    font-size: 13px;
}
@media only screen and (min-width: 48em) {
    .global-header .global-header__wrap .global-header__info .global-header__info {
        width: 31%;
        font-size: 15px;
    }
}
@media only screen and (min-width: 64em) {
    .global-header .global-header__wrap .global-header__info .global-header__info {
        display: inline-block;
    }
}
.global-header .global-header__wrap .global-header__info .global-header__info .global-header__event__name {
    display: block;
    font-size: 13px;
    padding-bottom: 5px;
}
.global-header .global-header__wrap .global-header__menu {
    line-height: 1;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
}
@media (max-width: 1245px){
    .global-header .global-header__wrap .global-header__menu__list li{
        padding-left: 10px;
    }
    .global-header .global-header__wrap .global-header__menu__list li a{
        font-size: 10pt;
    }
}
.global-header .global-header__wrap .global-header__menu__list {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 5px 0 0 0;
}
.global-header .global-header__wrap .global-header__menu__list li {
    display: inline-block;
    padding-left: 20px;
}
.global-header .global-header__wrap .global-header__menu__list li:nth-of-type(1) {
    padding-left: 0;
    margin-left: -10px;
}
.global-header .global-header__wrap .global-header__menu__list li a {
    position: relative;
    display: block;
    padding: 10px;
    color: white;
    opacity: .7;
    font-size: 12pt;
    text-decoration: none;
}
.global-header .global-header__wrap .global-header__menu__list li a:hover {
    opacity: 1;
}
.global-header .global-header__clock {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 370px;
}
.global-header .global-header__clock iframe {
    width: 320px;
    height: 80px;
}

body {
    font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
}
body a {
    color: #af9662;
}
body .ao-slideshow-block, body #block-b1541331916842 {
    max-width: 1050px;
    display: block;
    margin: 0 auto;
}
body .region-cell {
    display: block;
}
body .region-cell .body-cell {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 30px;
}
body .region-cell .body-cell .collection-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
body .region-cell .body-cell .collection-group figure {
    width: 32%;
    justify-content: space-between;
    background: #fff;
    display: inline-flex;
    margin: 0 0 30px 0;
}
body .region-cell .body-cell .collection-group figure a {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    color: #333;
    overflow: hidden;
    font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
    text-decoration: none;
}
body .region-cell .body-cell .collection-group figure a img {
    width: 105%;
    max-width: inherit !important;
    position: relative;
    left: -2.5%;
}
body .region-cell .body-cell .collection-group figure a h2 {
    padding: 20px 0;
    font-size: 2.2rem;
    color: #807877;
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
}
body .region-cell .body-cell .collection-group figure a hr {
    border: 1px solid #f2f2f2;
    width: 100%;
    margin: 0 auto;
}
body .region-cell .body-cell .collection-group figure a .text-style-body {
    font-size: 1rem;
    font-weight: 800;
    padding: 20px 0;
    color: #676767;
    display: inline-flex;
    width: 49%;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
body .region-cell .body-cell .collection-group figure a .text-style-body:nth-of-type(1) {
    border-right: 1px solid #f2f2f2;
}
body .region-cell .body-cell .collection-group figure a .text-style-body span {
    font-size: .75rem;
    font-weight: 700;
    color: #a5a5a5;
    padding-bottom: 5px;
}
body .region-cell .body-cell .collection-group figure a .color_title {
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    background-color: #243354;
    border-radius: 0 0 6px 6px;
    margin-top: 5px;
    font-size: .85rem;
    top: 0px;
    position: relative;
    letter-spacing: .5px;
    text-align: right;
}
body .news-component__main-heading {
    font-weight: bold;
    padding-right: 0;
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    font-family: "Univers 65 Bold","Arial","Helvetica",sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    color: #243354;
    margin: 100px auto 20px auto;
}
body #block-b1541332490972 p {
    max-width: 625px;
    text-align: center;
}
body .ao-video-block {
    background: transparent;
    max-width: 750px;
    display: block;
    margin: 0 auto;
}
body .ao-video-block .ao-video {
    padding-bottom: 53%;
}
body .ao-video-block .ao-video iframe {
    width: 100% !important;
    margin: 0 auto;
    display: block;
    right: 0;
    max-width: 750px;
}
body #block-b1541332490972 .text_bg {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    display: block;
    padding: 15px 25%;
    border-bottom: 1px solid #f2f2f2;
    padding: 80px 0;
    position: relative;
    top: 0;
}
body #block-b1541332490972 .text_bg p {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
    font-size: 11pt;
    line-height: 32px;
}
body #block-b1541332490972 .text_bg p strong {
    padding-top: 25px;
    display: block;
}
body .champ_info, body .information {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 75px 0;
}
body .champ_info .columns, body .information .columns {
    width: 46%;
    display: inline-flex;
    flex-direction: column;
}
body .champ_info .columns img, body .information .columns img {
    margin-top: 25px;
}
body .champ_info .columns p, body .information .columns p {
    text-align: left;
    font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
    margin: 0 auto 20px;
    font-size: 11pt;
    line-height: 32px;
}
body .champ_info .columns p strong, body .information .columns p strong {
    color: #243354;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 34px;
    display: block;
}
body .champ_info .columns p strong span, body .information .columns p strong span {
    margin-top: 5px;
    font-size: 1.35rem;
    display: block;
}
body .champ_info .columns ul, body .information .columns ul {
    font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
    text-align: left;
    padding-left: 0;
    list-style: none;
}
body .champ_info .columns ul li, body .information .columns ul li {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #f2f2f2;
}
body .champ_info .columns ul li:last-of-type, body .information .columns ul li:last-of-type {
    border-bottom: none;
}
body .champ_info .columns a.reserve_btn, body .information .columns a.reserve_btn {
    display: block !important;
    flex-direction: row;
    align-self: flex-end;
    margin: 20px auto;
    max-width: 200px;
}
body .champ_info .column, body .information .column {
    width: 100%;
    max-width: 850px;
    display: block;
    flex-direction: column;
    margin: 0 auto;
}
body .champ_info .column p, body .information .column p {
    font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
    margin: 0 auto 20px;
    font-size: 11pt;
    line-height: 32px;
    max-width: 950px;
}
body .champ_info .column p strong, body .information .column p strong {
    color: #243354;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 34px;
    display: block;
}
body .champ_info .column p strong div, body .information .column p strong div {
    margin-bottom: 5px;
    font-size: 1.35rem;
    display: block;
}
body .champ_info .column h2, body .information .column h2 {
    font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
    margin: 0 auto;
    color: #243354;
    font-size: 2.5rem;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
body .champ_info .column h3, body .information .column h3 {
    font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
    margin: 0 auto 5px;
    color: #243354;
    text-transform: uppercase;
    display: block;
    font-size: 1.35rem;
    text-align: center;
}
body .champ_info .column ul, body .information .column ul {
    font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
    text-align: left;
    padding-left: 0;
    list-style: none;
}
body .champ_info .column ul li, body .information .column ul li {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #f2f2f2;
}
body .champ_info .column ul li:last-of-type, body .information .column ul li:last-of-type {
    border-bottom: none;
}

.hos_info {
    font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
    margin: 0 auto 20px;
    font-size: 11pt;
    line-height: 32px;
    max-width: 700px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 40px;
}
.hos_info .text-style-body {
    font-size: 1rem;
    font-weight: 800;
    padding: 20px 0;
    color: #676767;
    display: inline-flex;
    width: 49%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
}
.hos_info .text-style-body:nth-of-type(1) {
    border-right: 1px solid #f2f2f2;
}
.hos_info .text-style-body strong {
    font-size: .75rem;
    font-weight: 700;
    color: #a5a5a5;
    padding-bottom: 5px;
}

.desc {
    max-width: 650px;
    text-align: left !important;
    margin: 0 auto !important;
}
.desc.list{
    padding-left: 0;
    line-height: 22px;
    width: 65%;
    margin: 0 auto !important;
    display: block;
}
.desc.list li{
    padding-bottom: 15px;
    font-weight: bold;
    color: #333;
}
#block-b1541388630322 {
    max-width: 1050px;
    margin: 0 auto;
}


/* media */
@media (max-width: 825px) {
    #block-b1541332490972 {
        width: 90%;
        margin: 0 auto;
    }
    body .region-cell .body-cell .collection-group figure{
        width: 80%;
        margin: 0 auto;
    }
    body .champ_info .columns, body .information .columns{
        width: 90%;
        margin: 0 auto;
    }
    body .champ_info .column, body .information .column{
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width: 425px) {
    body .region-cell .body-cell .collection-group figure{
        width: 100%;
    }
}