/* line 1, ../sass/style.scss */
.global-header {
  position: fixed;
  top: 0;
  left: 0;
  background: #00537F;
  z-index: 150;
  width: 100%;
  font-size: 0;
  text-align: left;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  min-height: 50px;
}
/* line 13, ../sass/style.scss */
.global-header .global-header__wrap {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding-left: 13px;
  margin: 0 auto;
}
@media only screen and (min-width: 48em) {
  /* line 13, ../sass/style.scss */
  .global-header .global-header__wrap {
    padding-left: 20px;
  }
}
/* line 22, ../sass/style.scss */
.global-header .global-header__wrap .global-header__logo {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #fff;
  padding: 3px 6px;
  margin-right: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
/* line 32, ../sass/style.scss */
.global-header .global-header__wrap .global-header__logo img {
  width: 100%;
}
/* line 36, ../sass/style.scss */
.global-header .global-header__wrap .global-header__info {
  width: 64%;
  font-size: 13px;
  display: inline-block;
  color: white;
  padding-top: 15px;
  padding-bottom: 0;
  vertical-align: top;
}
/* line 44, ../sass/style.scss */
.global-header .global-header__wrap .global-header__info .global-header__info {
  width: 64%;
  font-size: 13px;
}
@media only screen and (min-width: 48em) {
  /* line 44, ../sass/style.scss */
  .global-header .global-header__wrap .global-header__info .global-header__info {
    width: 31%;
    font-size: 15px;
  }
}
@media only screen and (min-width: 64em) {
  /* line 44, ../sass/style.scss */
  .global-header .global-header__wrap .global-header__info .global-header__info {
    display: inline-block;
  }
}
/* line 54, ../sass/style.scss */
.global-header .global-header__wrap .global-header__info .global-header__info .global-header__event__name {
  display: block;
  font-size: 13px;
  padding-bottom: 5px;
}
/* line 61, ../sass/style.scss */
.global-header .global-header__wrap .global-header__menu {
  line-height: 1;
  text-transform: uppercase;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* line 67, ../sass/style.scss */
.global-header .global-header__wrap .global-header__menu__list {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 5px 0 0 0;
}
/* line 72, ../sass/style.scss */
.global-header .global-header__wrap .global-header__menu__list li {
  display: inline-block;
  padding-left: 20px;
}
/* line 75, ../sass/style.scss */
.global-header .global-header__wrap .global-header__menu__list li:nth-of-type(1) {
  padding-left: 0;
  margin-left: -10px;
}
/* line 79, ../sass/style.scss */
.global-header .global-header__wrap .global-header__menu__list li a {
  position: relative;
  display: block;
  padding: 10px;
  color: white;
  opacity: .7;
  font-size: 12pt;
  text-decoration: none;
}
/* line 87, ../sass/style.scss */
.global-header .global-header__wrap .global-header__menu__list li a:hover {
  opacity: 1;
}
/* line 94, ../sass/style.scss */
.global-header .global-header__clock {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 370px;
}
/* line 99, ../sass/style.scss */
.global-header .global-header__clock iframe {
  width: 320px;
  height: 80px;
}

/* line 105, ../sass/style.scss */
body {
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  margin: 0;
}
/* line 110, ../sass/style.scss */
body.video_play .bg_video_hero .bg_video {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity .4s, transform .01s .4s;
}
/* line 115, ../sass/style.scss */
body.video_play .bg_video_hero iframe {
  opacity: 1;
  transition: opacity .4s .4s;
}
/* line 119, ../sass/style.scss */
body.video_play .bg_video_hero .play_section {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity .4s, transform .01s .4s;
}
/* line 126, ../sass/style.scss */
body .bg_video_hero {
  position: relative;
  left: 0;
  right: 0;
  margin-top: 60px;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: #000;
}
/* line 138, ../sass/style.scss */
body .bg_video_hero .bg_video {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #10192b;
}
/* line 145, ../sass/style.scss */
body .bg_video_hero .bg_video:before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url(../images/dots.png) repeat;
}
/* line 155, ../sass/style.scss */
body .bg_video_hero .bg_video video {
  opacity: .25;
  width: 100%;
  height: auto;
}
/* line 161, ../sass/style.scss */
body .bg_video_hero iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
}
/* line 169, ../sass/style.scss */
body .bg_video_hero .play_section {
  display: inline-block;
  width: 100%;
  text-align: center;
  bottom: 50px;
  position: relative;
  z-index: 11;
}
/* line 176, ../sass/style.scss */
body .bg_video_hero .play_section .play_btn {
  border: none;
  background: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.75rem;
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
/* line 186, ../sass/style.scss */
body .bg_video_hero .play_section .play_btn:before {
  content: '';
  width: 200px;
  height: 2px;
  background: white;
  position: absolute;
  left: -200%;
  top: 47%;
}
/* line 195, ../sass/style.scss */
body .bg_video_hero .play_section .play_btn:after {
  content: '';
  width: 200px;
  height: 2px;
  background: white;
  position: absolute;
  right: -200%;
  top: 47%;
}
/* line 207, ../sass/style.scss */
body .bg_video_hero .play_section .play_btn:hover svg g rect {
  fill: white;
}
/* line 210, ../sass/style.scss */
body .bg_video_hero .play_section .play_btn:hover svg g text {
  fill: #333;
}
/* line 217, ../sass/style.scss */
body .bg_video_hero .play_section .tag {
  color: white;
  font-weight: bold;
  font-size: .85rem;
  letter-spacing: 2px;
  margin: 20px;
  z-index: 1;
  position: relative;
}
/* line 228, ../sass/style.scss */
body .call_to_action_section {
  width: 90%;
  max-width: 950px;
  text-align: left;
  display: block;
  margin: 100px auto 50px;
}
/* line 234, ../sass/style.scss */
body .call_to_action_section h2 {
  color: #00537F;
  font-size: 1.65rem;
  margin-bottom: 10px;
}
/* line 239, ../sass/style.scss */
body .call_to_action_section h1 {
  color: #00537F;
  margin-top: 0;
  font-size: 2.5rem;
  padding-bottom: 30px;
  border-bottom: 1px solid #af9662;
}
/* line 246, ../sass/style.scss */
body .call_to_action_section .top_title {
  color: #00537F;
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 253, ../sass/style.scss */
body .call_to_action_section .bottom_title {
  color: #00537F;
  margin-top: 0;
  font-size: 2.35rem;
  padding-bottom: 30px;
  border-bottom: 1px solid #af9662;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 262, ../sass/style.scss */
body .call_to_action_section p {
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  margin: 40px auto 20px;
  font-size: 14pt;
  line-height: 36px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.65);
}
/* line 271, ../sass/style.scss */
body .call_to_action_section .btn a {
  display: inline-block;
  width: 200px;
  font-size: 1.2rem !important;
  font-weight: 700;
  color: #af9662;
  text-align: center;
  margin: 20px auto 0;
  padding: 25px !important;
  overflow: hidden;
  position: relative;
  transition: .3s;
  text-decoration: none;
  z-index: 0;
  background: transparent !important;
}
/* line 286, ../sass/style.scss */
body .call_to_action_section .btn a:hover {
  color: #fff !important;
  transition: color 0.3s 0.1s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 289, ../sass/style.scss */
body .call_to_action_section .btn a:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
/* line 298, ../sass/style.scss */
body .call_to_action_section .btn a:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: #af9662;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 320, ../sass/style.scss */
body a {
  color: #af9662;
}
/* line 323, ../sass/style.scss */
body .ao-slideshow-block, body #block-b1541331916842 {
  max-width: 1050px;
  display: block;
  margin: 0 auto;
}
/* line 328, ../sass/style.scss */
body .region-cell {
  display: block;
}
/* line 330, ../sass/style.scss */
body .region-cell .body-cell {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 30px;
}
/* line 335, ../sass/style.scss */
body .region-cell .body-cell .collection-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 340, ../sass/style.scss */
body .region-cell .body-cell .collection-group figure {
  width: 48%;
  justify-content: space-between;
  background: #fff;
  display: inline-flex;
  margin: 0 0 30px 0;
}
/* line 346, ../sass/style.scss */
body .region-cell .body-cell .collection-group figure a {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  color: #333;
  overflow: hidden;
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  text-decoration: none;
}
/* line 357, ../sass/style.scss */
body .region-cell .body-cell .collection-group figure a img {
  width: 105%;
  max-width: inherit !important;
  position: relative;
  left: -2.5%;
}
/* line 363, ../sass/style.scss */
body .region-cell .body-cell .collection-group figure a h2 {
  padding: 20px 0;
  font-size: 2.2rem;
  color: #807877;
  width: 90%;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}
/* line 373, ../sass/style.scss */
body .region-cell .body-cell .collection-group figure a hr {
  border: 1px solid #f2f2f2;
  width: 100%;
  margin: 0 auto;
}
/* line 378, ../sass/style.scss */
body .region-cell .body-cell .collection-group figure a .text-style-body {
  font-size: 1rem;
  font-weight: 800;
  padding: 20px 0;
  color: #676767;
  display: inline-flex;
  width: 49%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
/* line 388, ../sass/style.scss */
body .region-cell .body-cell .collection-group figure a .text-style-body:nth-of-type(1) {
  border-right: 1px solid #f2f2f2;
}
/* line 391, ../sass/style.scss */
body .region-cell .body-cell .collection-group figure a .text-style-body span {
  font-size: .75rem;
  font-weight: 700;
  color: #a5a5a5;
  padding-bottom: 5px;
}
/* line 398, ../sass/style.scss */
body .region-cell .body-cell .collection-group figure a .color_title {
  padding: 15px 25px;
  color: white;
  font-weight: bold;
  background-color: #00537F;
  border-radius: 0 0 6px 6px;
  margin-top: 5px;
  font-size: .85rem;
  top: 0px;
  position: relative;
  letter-spacing: .5px;
  text-align: right;
}
/* line 416, ../sass/style.scss */
body .news-component__main-heading {
  font-weight: bold;
  padding-right: 0;
  display: inline-block;
  vertical-align: bottom;
  width: 50%;
  font-family: "Univers 65 Bold","Arial","Helvetica",sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  color: #243354;
  margin: 100px auto 20px auto;
}
/* line 429, ../sass/style.scss */
body #block-b1541332490972 p {
  max-width: 625px;
  text-align: center;
}
/* line 434, ../sass/style.scss */
body .ao-video-block {
  background: transparent;
  max-width: 750px;
  display: block;
  margin: 0 auto;
}
/* line 439, ../sass/style.scss */
body .ao-video-block .ao-video {
  padding-bottom: 53%;
}
/* line 441, ../sass/style.scss */
body .ao-video-block .ao-video iframe {
  width: 100% !important;
  margin: 0 auto;
  display: block;
  right: 0;
}
/* line 450, ../sass/style.scss */
body #block-b1541332490972 .text_bg {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  display: block;
  padding: 15px 25%;
  border-bottom: 1px solid #f2f2f2;
  padding: 80px 0;
  position: relative;
  top: 0;
}
/* line 460, ../sass/style.scss */
body #block-b1541332490972 .text_bg p {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  font-size: 11pt;
  line-height: 32px;
}
/* line 467, ../sass/style.scss */
body #block-b1541332490972 .text_bg p strong {
  padding-top: 25px;
  display: block;
}
/* line 474, ../sass/style.scss */
body .champ_info, body .information {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 75px 0;
}
/* line 482, ../sass/style.scss */
body .champ_info .columns, body .information .columns {
  width: 46%;
  display: inline-flex;
  flex-direction: column;
}
/* line 486, ../sass/style.scss */
body .champ_info .columns img, body .information .columns img {
  margin-top: 25px;
}
/* line 489, ../sass/style.scss */
body .champ_info .columns p, body .information .columns p {
  text-align: left;
}
/* line 491, ../sass/style.scss */
body .champ_info .columns p strong, body .information .columns p strong {
  color: #243354;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 34px;
  display: block;
}
/* line 497, ../sass/style.scss */
body .champ_info .columns p strong span, body .information .columns p strong span {
  margin-top: 5px;
  font-size: 1.35rem;
  display: block;
}
/* line 504, ../sass/style.scss */
body .champ_info .columns ul, body .information .columns ul {
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  text-align: left;
  padding-left: 0;
  list-style: none;
}
/* line 509, ../sass/style.scss */
body .champ_info .columns ul li, body .information .columns ul li {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #f2f2f2;
}
/* line 512, ../sass/style.scss */
body .champ_info .columns ul li:last-of-type, body .information .columns ul li:last-of-type {
  border-bottom: none;
}
/* line 517, ../sass/style.scss */
body .champ_info .columns a.reserve_btn, body .information .columns a.reserve_btn {
  display: block !important;
  flex-direction: row;
  align-self: flex-end;
  margin: 20px auto;
  max-width: 200px;
}
/* line 525, ../sass/style.scss */
body .champ_info .column, body .information .column {
  width: 100%;
  max-width: 850px;
  display: block;
  flex-direction: column;
  margin: 0 auto;
}
/* line 531, ../sass/style.scss */
body .champ_info .column p, body .information .column p {
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  margin: 0 auto 20px;
  font-size: 11pt;
  line-height: 32px;
  max-width: 950px;
}
/* line 537, ../sass/style.scss */
body .champ_info .column p strong, body .information .column p strong {
  color: #243354;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 34px;
  display: block;
}
/* line 543, ../sass/style.scss */
body .champ_info .column p strong div, body .information .column p strong div {
  margin-bottom: 5px;
  font-size: 1.35rem;
  display: block;
}
/* line 550, ../sass/style.scss */
body .champ_info .column h2, body .information .column h2 {
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  margin: 0 auto;
  color: #243354;
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
/* line 559, ../sass/style.scss */
body .champ_info .column h3, body .information .column h3 {
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  margin: 0 auto 30px;
  color: #243354;
  text-transform: uppercase;
  display: block;
  font-size: 1.35rem;
  text-align: center;
}
/* line 568, ../sass/style.scss */
body .champ_info .column ul, body .information .column ul {
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  text-align: left;
  padding-left: 0;
  list-style: none;
}
/* line 573, ../sass/style.scss */
body .champ_info .column ul li, body .information .column ul li {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #f2f2f2;
}
/* line 576, ../sass/style.scss */
body .champ_info .column ul li:last-of-type, body .information .column ul li:last-of-type {
  border-bottom: none;
}

/* line 584, ../sass/style.scss */
.hos_info {
  font-family: "Univers 55 Roman","Arial","Helvetica",sans-serif;
  margin: 0 auto 20px;
  font-size: 11pt;
  line-height: 32px;
  max-width: 700px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 40px;
}
/* line 592, ../sass/style.scss */
.hos_info .text-style-body {
  font-size: 1rem;
  font-weight: 800;
  padding: 20px 0;
  color: #676767;
  display: inline-flex;
  width: 49%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
}
/* line 603, ../sass/style.scss */
.hos_info .text-style-body:nth-of-type(1) {
  border-right: 1px solid #f2f2f2;
}
/* line 606, ../sass/style.scss */
.hos_info .text-style-body strong {
  font-size: .75rem;
  font-weight: 700;
  color: #a5a5a5;
  padding-bottom: 5px;
}

/* line 614, ../sass/style.scss */
.desc {
  max-width: 650px;
  text-align: left !important;
  margin: 0 auto !important;
}

/* line 619, ../sass/style.scss */
#block-b1541388630322 {
  max-width: 1050px;
  margin: 0 auto;
}

/* media */
@media (max-width: 825px) {
  /* line 626, ../sass/style.scss */
  #block-b1541332490972 {
    width: 90%;
    margin: 0 auto;
  }

  /* line 630, ../sass/style.scss */
  body .region-cell .body-cell .collection-group figure {
    width: 80%;
    margin: 0 auto;
  }

  /* line 634, ../sass/style.scss */
  body .champ_info .columns, body .information .columns {
    width: 90%;
    margin: 0 auto;
  }

  /* line 638, ../sass/style.scss */
  body .champ_info .column, body .information .column {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  /* line 644, ../sass/style.scss */
  body .region-cell .body-cell .collection-group figure {
    width: 100%;
  }
}
